::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background: #181818;
}


.clear {
    clear: both;
}

.right {
    float: right!important;
}

.left {
    float: right!important;
}