.sidebar {
    background: #2D2D2D;
    box-shadow: 1px 0 2px 0 rgba(0,0,0,0.50), 1px 0 2px 0 rgba(0,0,0,0.50);
    height: 100%;
    width: 180px;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: -1;
}

.grid {
    position: fixed;
    top: 90px;
    left: 180px;
    width: 100%;
    height: 100%;
    background: #151515;
    z-index: -1;
    background: repeating-linear-gradient(
            to right,
            transparent,
            transparent 120px,
            #151515 120px,
            #151515 240px
    );
}

.spheres {
    margin-top: 90px;
}

.sphere {
    width: 100%;
    height: 60px;
}

.description {
    max-height: 60px;
    width: 180px;
    padding: 22px 0;
    float: left;
}

.sphere:nth-child(2n-1) .description {
    background: #444444;
}

.icon {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.sphere-title {
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    float: left;
    line-height: 17px;
    text-align: center;
}

.goals {
    float: left;
    height: 60px;
}

.add-life-sphere {
    background: #1A8FDD;
    border-radius: 4px;
    width: 160px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding: 7px;
    transition: all 200ms ease-in-out;
    position: fixed;
    left: 10px;
    top: 15px;
    z-index: 1;
}

.add-life-sphere:hover {
    background: #1FA5FF;
}
